@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
    box-sizing: border-box;
}

body {
    background-color: #e5e5e5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    margin: 0;
    min-height: 100vh;
}
canvas{
    border: 1px solid rebeccapurple;
}
.toolbox{
    border: 1px solid rebeccapurple;
    background-color: rebeccapurple;
    display: flex;
    padding: 1rem;
    width: 800px;
}
.toolbox > *{
    background-color: #fff;
    border: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    margin: .25rem;
    padding: .25rem;
    width: 50px;
    height: 50px;
}
.toolbox > *:last-child{
    margin-left: auto;
}